@import "./preflight.css";

@font-face {
  font-family: "Kaisei Tokumin";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/kaisei-tokumin-latin-700-normal.woff2") format("woff2");
}

html {
  scrollbar-gutter: stable;
}

:root {
  --font-kaisei: "Kaisei Tokumin", serif;
  --font-newsreader: "Newsreader", serif;
  --font-newsreader-regular: "Newsreader", serif;
}

:root {
  --surface: #f7f6f6; /* grey-50 */
  --surface-raised: #ffffff;
  --separator: #cdc5c2; /* grey-200 */
  --foreground: #3c3633; /* grey-800 */
  --foreground-secondary: #48423d; /* grey-700 */
  --foreground-muted: #584e49; /* grey-600 */
  --foreground-subtle: #70615c; /* grey-500 */
  --accent: #3b82f6; /* blue-500 */
  --decoration-muted: #aca19c; /* grey-300 */
  --decoration-muted-hover: #584e49; /* grey-600 */
  --signature-filter: none;
  --danger: #ef4444; /* red-500 */
}

.dark {
  --surface: #1c1917; /* grey-950 */
  --surface-raised: #342f2d; /* grey-900 */
  --separator: #3c3633; /* grey-800 */
  --foreground: #e6e2e1; /* grey-100 */
  --foreground-secondary: #cdc5c2; /* grey-200 */
  --foreground-muted: #aca19c; /* grey-300 */
  --foreground-subtle: #aca19c; /* grey-300 */
  --decoration-muted: #584e49; /* grey-600 */
  --decoration-muted-hover: #aca19c; /* grey-300 */
  --signature-filter: invert(1);
  --danger: #dc2626; /* red-600 */
}

em {
  font-family: var(--font-newsreader);
  font-style: italic;
}

.inline-link {
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.katex-display {
  font-size: 1.2em; /* Adjust as needed */
  text-align: center;
}
